/.flattened-pom.xml
/.idea
*.ipr
*.iws
*.iml
*.pyc
#*
/overlays/
/target/
/nbproject/
/nbactions.xml
/local/
/.classpath
/.project
/.settings/
/.wtpmodules/
/nb-configuration.xml
/xdef/src/test/resources/test/xdutils/data/xd2xsd_2/internal/*
